[
  {
     "files": ["lib/compress/zstd_compress_superblock.c", "lib/compress/zstd_opt.c", "lib/compress/zstd_lazy.c", "lib/compress/zstd_double_fast.c", "lib/compress/zstd_fast.c", "lib/compress/zstd_compress_litterals.c", "lib/compress/zstd_compress_sequences.c", "lib/compress/zstd_ldm.c", "lib/common/zstd_common.c", "lib/compress/zstd_compress.c", "main.c"],
     "filesystem": {
        "files": [
          {
            "name": "input.txt",
            "from": "input_1.txt"
          }
        ]
     },
     "compilation_cmd": "cc -I lib -I examples"
  } 
]
